{{ 'section-custom-icon-blocks.css' | asset_url | stylesheet_tag }}

<div class="section-container">
  <div class="badges-container">
    {% for block in section.blocks %}
      <div style="background-color: {{ block.settings.background_color }}" class="custom-badge">
        {{ block.settings.icon_html }}
        <h3 class="badge-title" style="">{{ block.settings.icon_title }}</h3>
        <p style="color: {{ block.settings.description_color }}" class="badge-description">{{ block.settings.description_text }}</p>
      </div>
    {% endfor %}
  </div>
</div>


<style>

  .section-container {
    background-color: {{ section.settings.background_color }};
  }

  .custom-badge {
    background-color: #eeeeee;
    padding: 1.5rem 2rem;
    border-radius: 5px;
  }

  .icon-title {}
</style>

{% schema %}
  {
    "name": "Icon Blocks",
    "settings": [
      {
        "type": "color",
        "id": "background_color",
        "label": "Background color",
        "default": "#ffffff"

      }
    ],
    "blocks": [
      {
        "name": "icon",
        "type": "icon",
        "settings": [
          {
            "type": "html",
            "id": "icon_html",
            "label": "Icon svg",
            "info": "You may get svg icons from libraries like [Bootstrap Icons](https://icons.getbootstrap.com)"
          },
          {
            "type": "text",
            "id": "icon_title",
            "label": "Title",
            "default": "Icon title"
          },
          {
            "type": "color",
            "id": "title_color",
            "label": "Title color",
            "default": "#000000"
          },

          {
            "type": "text",
            "id": "description_text",
            "label": "Description text",
            "default": "Icon description"
          },
          {
            "type": "color",
            "id": "description_color",
            "label": "Description color",
            "default": "#000000"
          },
          {
            "type": "color",
            "id": "background_color",
            "label": "Background color",
            "default": "#eeeeee"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Icon Blocks"
      }
    ]
  }
{% endschema %}