{{ 'section-custom-icon-blocks.css' | asset_url | stylesheet_tag }}


<div class="section-container">
  <div class="badges-container">
    {% for block in section.blocks %}
           
      <div style="background-color: {{ block.settings.background_color }}; {% if block.settings.show_shadow %}box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); {% endif %}" class="custom-badge">
        {{ block.settings.icon_html }}
        <h3 class="badge-title inline-richtext h2" style="color: {{ block.settings.title_color }}">{{ block.settings.icon_title }}</h3>
        <p style="color: {{ block.settings.description_color }}" class="badge-description">{{ block.settings.description_text }}</p>
        <a
          style="background-color: {{ block.settings.button_color }}; color: {{ block.settings.button_label-color }}"
          class="custom-btn"
          href="{{ block.settings.button_url }}">{{ block.settings.button_label }}</a>
      </div>
    {% endfor %}
  </div>
</div>


<style>

  .section-container {
    background-color: {{ section.settings.background_color }};
  }

  .badges-container {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
    margin-top: {{ section.settings.margin_top }}px;
    margin-bottom: {{ section.settings.margin_bottom }}px;
  }

  .custom-badge {
    background-color: #eeeeee;
    padding: 1.5rem 2rem;
    border-radius: 5px;
  }

</style>

{% schema %}
  {
    "name": "Icon Blocks",
    "settings": [
      {
        "type": "header",
        "content": "Styling"
        },
      {
        "type": "color",
        "id": "background_color",
        "label": "Background color",
        "default": "#ffffff"

      },
      {
        "type": "header",
        "content": "Spacing"
        },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 16
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 16
      },
      {
        "type": "range",
        "id": "margin_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Top margin",
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Bottom margin",
        "default": 0
      }
    ],
    "blocks": [
      {
        "name": "Icon card",
        "type": "icon",
        "settings": [
          {
            "type": "header",
            "content": "Svg code"
          },
          {
            "type": "html",
            "id": "icon_html",
            "label": "Icon svg",
            "info": "You may get svg icons from libraries like [Bootstrap Icons](https://icons.getbootstrap.com)"
          },
          {
            "type": "header",
            "content": "Card background"
          },
          {
            "type": "color",
            "id": "background_color",
            "label": "Background color",
            "default": "#eeeeee"
          },
          {
            "type": "checkbox",
            "id": "show_shadow",
            "label": "Show shadow"
          },
          {
            "type": "header",
            "content": "Title"
          },
          {
            "type": "text",
            "id": "icon_title",
            "label": "Title",
            "default": "Icon title"
          },
          {
            "type": "color",
            "id": "title_color",
            "label": "Title color",
            "default": "#000000"
          },
          {
            "type": "header",
            "content": "Description"
          },
          {
            "type": "text",
            "id": "description_text",
            "label": "Description text",
            "default": "Icon description"
          },
          {
            "type": "color",
            "id": "description_color",
            "label": "Description color",
            "default": "#000000"
          },
          {
            "type": "header",
            "content": "Button"
          },
          {
            "type": "text",
            "id": "button_label",
            "label": "Button label",
            "default": "Button label"
          },

          {
            "type": "url",
            "id": "button_url",
            "label": "Button link"
          },
          {
            "type": "color",
            "id": "button_color",
            "label": "Button color",
            "default": "#000000"
          },
          {
            "type": "color",
            "id": "button_label-color",
            "label": "Button label color",
            "default": "#ffffff"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Icon Blocks"
      }
    ]
  }
{% endschema %}